<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/atzu.css" />
    <title> Isqne | Index </title>
</head>

<body>
    <div id="preloader">
        <div class="jumper"></div>
        <div class="jumper"></div>
        <div class="jumper"></div>
    </div>
    <div align="middle">
        <div class="container">
            <h1> Oi, me chamo Isqne<span class="waving-hand"><img width="40px" height="40px" src="assets/img/wavinghand.png"></span>!</h1>
            {% for project in projetos %}
                <div class="Container blur">
                    <h3><a href="{{project.url}}"> {{project.name}} </a></h3>
                    <h3 class="about-desc"> {{ project.desc }} </h3>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>